@charset "UTF-8";
@font-face {
    font-family: 'spider' ;
    src: url(fonte/The\ Amazing\ Spider-Man.ttf) format('truetype');
    font-weight: normal;
}

:root{
    --cor0: #df1f2d;
    --cor1: #b11313;
    --cor2: #2b3784;
    --cor3: #447bbe;

    --fonte-padrao: arial, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-spider: 'spider', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e0535d;
    font-family: var(--fonte-padrao);
    line-height: 1.2em;
}

header{
    background-image: linear-gradient(to bottom, #447bbe,  #2b3784);
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
    
}

header h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    padding: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

header p{
font-family: var(--fonte-destaque);
padding: 10px;
text-align: center;
color: white;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

nav{
    background-color: #000d5f;
    padding: 10px;
    font-family: var(--fonte-destaque);
    
}
 nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    
}
nav> a:hover{
    text-decoration: underline;
    background-color: #447bbe;
}

main{
    margin: auto;
    margin-bottom: 30px;
    background-color: #acc7e7;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: justify; 
}

main p{
    text-indent: 30px;
    font-size: 1em;
}

main img{
    width: 100%;
}
picture.peter{
    width: 50%;
    display: block;
    margin: auto;

}

article h1, h2{
    background-color: #df1f2d;
    font-family: var(--fonte-spider);
    padding-top: 7px;
}

 article> p{
    padding-top: 10px;
    padding-bottom: 10px;
}


audio{
    margin: auto;
    display: block;
}

aside{
    background-color: var(--cor3);
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
    
}

aside h2{
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside p{
    padding: 10px;
}

aside ul{
    list-style-position: '2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

.final{
    padding: 10px;
}
footer{
text-align: center;
background-color: #2e3983;
}

footer strong{
    color: white;
}
.link> a{
    color: white;
    text-decoration: none;
}
.link> a:hover{
    text-decoration: underline;
}

